@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
html, body { height: 100%; }
body { background: #0b0b0c; color: #f3f3f3; }
a { text-decoration: none; }
::selection { background: rgba(176, 124, 73, 0.25); } /* cobre sutil */
